@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48;
}

body {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}


.wrapper-slider {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-side {
    height: 100%;
    width: 27vw;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.43s linear;
}

.left-side > div {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 2px black;
}

.left-side h1 {
    font-size: 1.9em;
    margin-bottom: 8px;
    text-align: center;
}

.left-side div p {
    margin-top: 43px;
    font-size: 1em;
    text-align: center;
}

.right-side {
    height: 100%;
    position: absolute;
    top: 0;
    left: 27vw;
    width: 73vw;
    transition: transform 0.43s linear;
}

.right-side > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

button {
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    padding: 4px;
    
}

button:hover {
    color: rgb(229, 231, 233);
    background-color: rgba(167, 167, 167, 0.411);
    border: 2px solid rgb(128, 141, 141);
    transition: 0.43s;
}



.wrapper-slider .action-btn button {
    position: absolute;
    left: 27vw;
    top: 50%;
    z-index: 27;
}

.wrapper-slider .action-btn .up-btn {
    transform: rotate(180deg) translateY(-10%);
    border-radius: 3px 9px 3px;
}

.wrapper-slider .action-btn .down-btn {
    transform: translateY(-100%);
    border-radius: 9px 3px 9px;
}

.wrapper-slider .action-btn .up-btn span {
    transform: rotate(270deg)
}